server:
  port: 8085

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/user_db?createDatabaseIfNotExist=true
    username: root
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://${DISCOVERY_SERVER:localhost}:8761/eureka/
  instance:
    prefer-ip-address: true