server:
  port: 8081

spring:
  application:
    name: cart-service
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/cart_db?createDatabaseIfNotExist=true
    username: root
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    generate-ddl: true

  sql:
    init:
      mode: always

  main:
    allow-bean-definition-overriding: true

logging:
  level:
    org.springframework.jdbc.core: DEBUG
    org.hibernate.SQL: DEBUG

eureka:
  client:
    service-url:
      defaultZone: http://${DISCOVERY_SERVER:localhost}:8761/eureka/
  instance:
    prefer-ip-address: true